### Import the necessary libraries

In [1]:
import pandas as pd
import sqlalchemy as alch
import pymysql

### Store your username and password for the database
You can choose to do this with getpass or with an environment variable.

In [2]:
from getpass import getpass
password = getpass("Introduce tu pass de sql: ")

Introduce tu pass de sql: ········

### Establishes the connection to the database

In [3]:
dbName="publications"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

### Remember to create the engine

In [4]:
!pip install python-dotenv
!pip install pymysql
from dotenv import load_dotenv
import os
engine = alch.create_engine(connectionData)
print("Connected to server!")

Requirement already satisfied: python-dotenv in /Users/edu/opt/anaconda3/lib/python3.8/site-packages (0.17.0)
Requirement already satisfied: pymysql in /Users/edu/opt/anaconda3/lib/python3.8/site-packages (1.0.2)
Connected to server!

## Challenge 1 - Who Have Published What At Where?
In this challenge you will write a MySQL `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

* `AUTHOR ID` - the ID of the author
* `LAST NAME` - author last name
* `FIRST NAME` - author first name
* `TITLE` - name of the published title
* `PUBLISHER` - name of the publisher where the title was published

In [13]:
df = pd.read_sql_query(
"""
SELECT authors.au_id as AUTHOR_ID, au_lname as LAST_NAME, au_fname as FIRST_NAME,title as TITLE, pub_name as PUBLISHER
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id=authors.au_id
INNER JOIN titles
ON titles.title_id=titleauthor.title_id
INNER JOIN publishers
ON publishers.pub_id=titles.pub_id;

""", engine
)

In [14]:
df

,AUTHOR_ID,LAST_NAME,FIRST_NAME,TITLE,PUBLISHER
0,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
1,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
2,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
3,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
4,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
5,274-80-9391,Straight,Dean,Straight Talk About Computers,Algodata Infosystems
6,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats,Binnet & Hardley
7,722-51-5454,DeFrance,Michel,The Gourmet Microwave,Binnet & Hardley
8,899-46-2035,Ringer,Anne,The Gourmet Microwave,Binnet & Hardley
9,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
10,427-17-2319,Dull,Ann,Secrets of Silicon Valley,Algodata Infosystems
11,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley,Algodata Infosystems
12,486-29-1786,Locksley,Charlene,Net Etiquette,Algodata Infosystems
13,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
14,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
15,899-46-2035,Ringer,Anne,Is Anger the Enemy?,New Moon Books
16,998-72-3567,Ringer,Albert,Is Anger the Enemy?,New Moon Books
17,998-72-3567,Ringer,Albert,Life Without Fear,New Moon Books
18,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
19,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm,New Moon Books
20,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
21,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
22,267-41-2394,O'Leary,Michael,"Sushi, Anyone?",Binnet & Hardley
23,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?",Binnet & Hardley
24,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?",Binnet & Hardley

## Challenge 2 - Who Have Published How Many At Where?
More info in the readme.md

In [16]:
df = pd.read_sql_query(
"""
SELECT authors.au_id as AUTHOR_ID, au_lname as LAST_NAME, au_fname as FIRST_NAME,titles.title as TITLE, publishers.pub_name as PUBLISHER, COUNT(titles.title) AS COUNT_TITLE
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id=authors.au_id
INNER JOIN titles
ON titles.title_id=titleauthor.title_id
INNER JOIN publishers
ON publishers.pub_id=titles.pub_id
GROUP BY authors.au_id, publisher.pub_id;

""", engine
)
df

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'publisher.pub_id' in 'group statement'")
[SQL:
SELECT authors.au_id as AUTHOR_ID, au_lname as LAST_NAME, au_fname as FIRST_NAME,titles.title as TITLE, publishers.pub_name as PUBLISHER, COUNT(titles.title) AS COUNT_TITLE
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id=authors.au_id
INNER JOIN titles
ON titles.title_id=titleauthor.title_id
INNER JOIN publishers
ON publishers.pub_id=titles.pub_id
GROUP BY authors.au_id, publisher.pub_id;

]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## Challenge 3 - Best Selling Authors
More info in the readme.md

In [17]:
df = pd.read_sql_query(
"""
SELECT authors.au_id as AUTHOR_ID, au_lname as LAST_NAME, au_fname as FIRST_NAME, SUM(qty) as TOTAL
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id=authors.au_id
INNER JOIN titles
ON titles.title_id=titleauthor.title_id
INNER JOIN sales
ON sales.title_id=titles.title_id
GROUP BY authors.au_id
ORDER BY SUM(qty) DESC
LIMIT 3;

""", engine
)
df

     AUTHOR_ID LAST_NAME FIRST_NAME  TOTAL
0  899-46-2035    Ringer       Anne  148.0
1  998-72-3567    Ringer     Albert  133.0
2  213-46-8915     Green   Marjorie   50.0

## Challenge 4 - Best Selling Authors Ranking
More info in the readme.md

In [18]:
df = pd.read_sql_query(
"""
SELECT authors.au_id as AUTHOR_ID, au_lname as LAST_NAME, au_fname as FIRST_NAME, SUM(ifnull(qty,0)) as TOTAL
FROM authors
LEFT JOIN titleauthor
ON titleauthor.au_id=authors.au_id
LEFT JOIN titles
ON titles.title_id=titleauthor.title_id
LEFT JOIN sales
ON sales.title_id=titles.title_id
GROUP BY authors.au_id
ORDER BY SUM(ifnull(qty,0)) DESC
LIMIT 23;

""", engine
)
df

      AUTHOR_ID       LAST_NAME   FIRST_NAME  TOTAL
0   899-46-2035          Ringer         Anne  148.0
1   998-72-3567          Ringer       Albert  133.0
2   213-46-8915           Green     Marjorie   50.0
3   427-17-2319            Dull          Ann   50.0
4   846-92-7186          Hunter       Sheryl   50.0
5   267-41-2394         O'Leary      Michael   45.0
6   724-80-9391      MacFeather      Stearns   45.0
7   722-51-5454        DeFrance       Michel   40.0
8   807-91-6654        Panteley       Sylvia   40.0
9   238-95-7766          Carson       Cheryl   30.0
10  486-29-1786        Locksley     Charlene   25.0
11  472-27-2349      Gringlesby         Burt   20.0
12  648-92-1872  Blotchet-Halls     Reginald   20.0
13  672-71-3249        Yokomoto        Akiko   20.0
14  756-30-7391          Karsen        Livia   20.0
15  172-32-1176           White      Johnson   15.0
16  274-80-9391        Straight         Dean   15.0
17  409-56-7008          Bennet      Abraham   15.0
18  712-45-1867    del Castillo        Innes   10.0
19  341-22-1782           Smith      Meander    0.0
20  527-72-3246          Greene  Morningstar    0.0
21  724-08-9931        Stringer         Dirk    0.0
22  893-72-1158        McBadden      Heather    0.0

## Bonus Challenge - Most Profiting Authors